.bbbd {
font-family: "Open Sans";
}
a{
color:#138808;
font-wight:bold;
}
.gggk{
background:#000000;
}
.hheeaadd{
background:#f6f6f6;
}
.dllh{
background:url("img/hhhf.jpg");
}
img.sl-img{
margin:10px;
width:180px;
height:180px;
}
div.sl{
max-width:800px;
margin: 20px auto;
}
.b1{
background:url("img/image1.jpg");
}
.b2{
background:url("img/IMG_8716_0.JPG");
}
.b3{
background:url("img/GP9Q2319.jpg");
}
.b4{
background:url("img/a_003.jpg");
}
.proects div{
  display: block;
  width:250px;
  height:250px;
  margin:auto;
  margin-bottom:20px;
  color:white;
}
.por{
  font-size:0.8em;
  display: inline-block;
  margin-right: 22px;
}